.nav {
    width: 1440px;
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #dfdfdf;
    margin-bottom: 60px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-header {
    color: black;
}

.empty-element {
    width: 200px;
}

.content {
    width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 60px;  
    background-color: #f4f4f4;
}

.advantages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.advantages-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    gap: 10px;
}

.images-of-examples {
    display: flex;
    flex-direction: row;
}

.marketing-right {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    text-align: right;
}

.marketing-left {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 20px;
    text-align: left;
}

.mark-alingment {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mark-head {
    font-size: 33px;
    font-weight: 700;
}

.mark-name {
    font-size: 18px;
    font-size: 400;
    font-style: italic;
}

.mark-price {
    font-size: 15px;
    font-size: 400;
}

.mark-description {
    font-size: 18px;
    font-size: 400;
    color: #525252;
}

.mark-link {
    font-size: 17px;
    font-size: 400;
    text-decoration: underline;
}

.mark-favorite {
    color: #BC1414;
    font-size: 14px;
    font-size: 400;
    font-style: italic;
}

.pieces {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.pieces-header {
    font-size: 30px;
    font-weight: 700;
    color: #3A3A3A;
}

.pieces-text {
    font-size: 18px;
    font-weight: 400;
    color:#000000;
}

.quote {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.quote-text {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color:#020202;
}

.quote-author {
    font-size: 15px;
    font-weight: 400;
    color:#000000;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.feature-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature-item-white {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(255, 255, 255);
}

.feature-header {
    font-size: 24px;
    font-weight: 400;
}

.feature-text {
    font-size: 15px;
    font-weight: 400;
}

.feature-link{
    font-size: 15px;
    font-weight: 400;
    text-decoration: underline;
}

.brands {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #454545;
}

.footer {
    width: 1440px;
    height: 448px;
    background-color:#dfdfdf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.footer-row {
    display: flex;
    flex-direction: row;
    gap: 250px;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 150px;
}

.footer-entitlement {
    display: flex;
    flex-direction: row;
    gap: 80px;
    font-size: 12px;
}

.payment {
    display: flex;
    flex-direction: row;
}

.footer-menu-header {
    font-size: 21px;
    font-weight: 400;
}

.footer-menu-options {
    font-size: 15px;
    font-weight: 400;
}

.footer-menu-gap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.newsletter{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    font-size: 15px;
}

.newsletter-button {
    padding-left: 40px;
    padding-right: 40px;
}
